h3,h4,h5{
    margin: 0;
}


body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
main{
    width: 350px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
header{
    padding: 16px 16px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
max-width: 80px;
border: 1px solid white;
border-radius: 50%;
}
article {
    padding: 16px;
}
h3{
    margin-bottom: 2px;
}